@model Comp1640.Models.ContributionFeedbackView
@{
    Layout = "~/Views/Shared/UserLO.cshtml";

}

<!DOCTYPE html>

<style>
    #div{
        display: flex; justify-content: center;
    }
    dl{
        width: 750px;
    }
</style>
<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>

<body>

    <div>
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-danger text-center" style="font-size: 40px;">View Feedback
            </h6>
        </div>
        <hr />
        <div id="div" style="display: flex; justify-content: center;">

            <dl class="row" >
                <dt class="col-sm-2">
                    Contribution Name
                </dt>
                <dd class="col-sm-10">
                    @Model.contribution.ConName
                </dd>
                <dt class="col-sm-2">
                    File Name
                </dt>
                <dd class="col-sm-10">
                    @Model.contribution.Filepath
                </dd>
                <dt class="col-sm-2">
                    Status
                </dt>
                <dd class="col-sm-10">
                    @Model.contribution.Status
                </dd>
                <dt class="col-sm-2">
                    Feedbacks
                </dt>
                <dd class="col-sm-10">
                    @Model.feedback.Comment
                </dd>
            </dl>
        </div>
    </div>
</body>

</html>

