@model Comp1640.Models.Faculty

@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h2 class="text-danger">Faculty</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FacId" />
            <div class="form-group">
                <label asp-for="FacName" class="control-label"></label>
                <input asp-for="FacName" class="form-control" />
                <span asp-validation-for="FacName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</div>

</body>
</html>
