@model Comp1640.Models.UserRoleViewModel
@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
}

<h2>Manage Role for @Model.User.UserName</h2>

<form asp-action="SetRoles" method="post" style="margin-bottom: 535px;">
    <input asp-for="User.Id" name ="id" type="hidden"/>
    <div class="form-group">
        <label for="roleNames">Roles</label>
        <select asp-for="Roles" asp-items="new SelectList(Model.Roles)" multiple class="form-control" style="height: 150px">
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</form>