@model Comp1640.Models.Contribution

@{
    Layout="~/Views/Shared/UserLO.cshtml";
}
<style>
    #row{
        width: 80%;
        min-height: 600px;
        display: flex;
        justify-content: center;
        margin-left: 10%;
    }
</style>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>

<body>
<h4 class="text-center mt-3 fs-1">Contribution</h4>
<hr style="width: 75%; height: 1px; margin: 15px auto;">
<div class="row" id="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="ConName" class="control-label" style="font-weight: 1000;">Contribution Name</label>
                <input asp-for="ConName" class="form-control rounded-3" />
            </div>
            <div class="form-group mt-2">
                <label asp-for="Filepath" class="control-label" style="font-weight: 1000;">File</label>
                <input type="file" name="ImageFile" class="form-control-file rounded-3" />
            </div>
            <div class="form-group col-md-12 form-group">
                <button class="btn btn-primary my-4 rounded-3 w-100" type="submit">Submit file</button>
            </div>
            <div class="form-group col-md-12 form-group">
                <button asp-controller="Home" asp-action="Index" class="btn btn-dark my-1 rounded-3 w-100" type="button">Back to list</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>
