@model List<Comp1640.Models.Contribution>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/UserLO.cshtml";
}

<h6 class="my-4 font-weight-bold text-danger text-center" style="font-size: 40px;">Guest View</h6>

<style>
    thead {
        text-align: center;
    }

    tbody {
        text-align: center;
    }

    table,
    th,
    td {
        border: 1px solid black;
    }

    th{
        text-transform: uppercase;
        font-weight: ;
    }
</style>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Contributor</th>
                <th>Status</th>
                <th>Submit Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var contribution in Model)
            {
                @if(contribution.Buplic == "Publicized"){
                <tr>
                    <td>@contribution.ConName</td>
                    <td>@contribution.User.FullName</td>
                    <td>@contribution.Buplic</td>
                    <td>@contribution.SubmitDate</td>
                </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>No contributions found.</p>
}