@model dynamic
@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
    var facultyData = ViewBag.FacultyData;

}
<style>
    #div {
        display: flex;
        justify-content: center;
    }


    #wchart {
        border-radius: 20px;
        box-shadow: 5px 8px #d9d9d9;
    }

    #mchart {
        border-radius: 20px;
        box-shadow: 5px 8px #d9d9d9;
    }

    #contain {
        display: flex;
        justify-content: center;
        width: 80%;
        margin-left: 10%;
    }
</style>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<h2>Exception Reports</h2>

<div class="row mt-4" id="contain">
    <div class="col-lg-4 col-md-6 mt-4 mb-4" style="border-radius: 20px; margin-right: 5%">
        <div class="card z-index-2 " style="border-radius: 20px; box-shadow: 5px 8px #d9d9d9;">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="border-radius-lg py-3 pe-1" style="background-color: #e8f8df;" id="wchart">
                    <div class="chart">
                        <canvas id="myChart" width="400" height="400"></canvas>

                        <script>
                            var ctx = document.getElementById('myChart').getContext('2d');
                            var count = @ViewBag.ConNoComment;
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Contributions Without Comment'],
                                    datasets: [{
                                        label: 'Number of Contributions',
                                        data: [count],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 ">Number of contributions Without comment</h6>
                <p class="text-sm "></p>
                <hr class="dark horizontal">
                <div class="d-flex ">
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 mt-4 mb-4" style="border-radius: 20px; margin-right: 5%">
        <div class="card z-index-2 " style="border-radius: 20px; box-shadow: 5px 8px #d9d9d9;">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="border-radius-lg py-3 pe-1" style="background-color: #c4fff0;" id="wchart">
                    <div class="chart">
                        <canvas id="contributionsWithoutCommentIn14DaysChart" width="400" height="400"></canvas>

                        <script>
                            var ctx = document.getElementById('contributionsWithoutCommentIn14DaysChart').getContext('2d');
                            var count = @ViewBag.ConNoComment14;
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: ['Contributions Without Comment After 14 Days'],
                                    datasets: [{
                                        label: 'Number of Contributions',
                                        data: [count],
                                        backgroundColor: [
                                            'rgba(255, 99, 132, 0.2)',
                                        ],
                                        borderColor: [
                                            'rgba(255, 99, 132, 1)',
                                        ],
                                        borderWidth: 1
                                    }]
                                },
                                options: {
                                    scales: {
                                        y: {
                                            beginAtZero: true
                                        }
                                    }
                                }
                            });
                        </script>

                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 ">Number of contributions Without comment</h6>
                <p class="text-sm "></p>
                <hr class="dark horizontal">
                <div class="d-flex ">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mb-4" style="border-radius: 20px; margin-right: 5%">
        <div class="card z-index-2 " style="border-radius: 20px; box-shadow: 5px 8px #d9d9d9;">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="border-radius-lg py-3 pe-1" style="background-color: #fadeff;" id="wchart">
                    <div class="chart">
                        
                        <canvas id="contributionsChart" width="400" height="400"></canvas>

                        <script>
                            var data = @Html.Raw(Json.Serialize(ViewBag.DataChart));

                            var academicYears = [];
                            var faculties = [];
                            var contributorsCounts = [];

                            data.forEach(function (item) {
                                if (!academicYears.includes(item.academicYear)) {
                                    academicYears.push(item.academicYear);
                                }
                                if (!faculties.includes(item.faculty)) {
                                    faculties.push(item.faculty);
                                }
                                contributorsCounts.push({
                                    academicYear: item.academicYear,
                                    faculty: item.faculty,
                                    contributorsCount: item.contributorsCount
                                });
                            });

                            var datasets = [];
                            var backgroundColors = [];

                            faculties.forEach(function (faculty, index) {
                                backgroundColors.push(getBackgroundColor(index)); // Gán màu cho từng faculty
                                var facultyData = contributorsCounts.filter(function (item) {
                                    return item.faculty === faculty;
                                });
                                var facultyContributorsCounts = academicYears.map(function (year) {
                                    var data = facultyData.find(function (item) {
                                        return item.academicYear === year;
                                    });
                                    return data ? data.contributorsCount : 0;
                                });
                                datasets.push({
                                    label: faculty,
                                    data: facultyContributorsCounts,
                                    backgroundColor: backgroundColors[index], // Sử dụng màu tương ứng
                                    borderColor: 'rgba(255, 99, 132, 1)',
                                    borderWidth: 1
                                });
                            });

                            function getBackgroundColor(index) {
                                var colors = ['#FF5733', '#FFC300', '#33FF57', '#5733FF', '#57FF33', '#3357FF', '#F033FF'];
                                return colors[index % colors.length]; // Sử dụng toán tử modulo để lặp lại mảng màu
                            }

                            var ctx = document.getElementById('contributionsChart').getContext('2d');
                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: academicYears,
                                    datasets: datasets
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true
                                            }
                                        }]
                                    },
                                    legend: {
                                        display: true,
                                        position: 'top',
                                        labels: {
                                            fontColor: 'black'
                                        }
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 ">Number of contributions Without comment</h6>
                <p class="text-sm "></p>
                <hr class="dark horizontal">
                <div class="d-flex ">
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6 mt-4 mb-4" style="border-radius: 20px; margin-right: 5%">
        <div class="card z-index-2 " style="border-radius: 20px; box-shadow: 5px 8px #d9d9d9;">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2 bg-transparent">
                <div class="border-radius-lg py-3 pe-1" style="background-color: #fadeff;" id="wchart">
                    <div class="chart">
                        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>

                        
                        <canvas id="myChart123" width="400" height="400"></canvas>

                        <script>
                            var ctx = document.getElementById('myChart123').getContext('2d');

                            var data = @Html.Raw(Json.Serialize(ViewBag.FacultyData));

                            var labels = Object.keys(data[Object.keys(data)[0]]);
                            var datasets = [];

                            Object.keys(data).forEach(function (faculty) {
                                var facultyData = data[faculty];
                                var facultyDataset = {
                                    label: faculty,
                                    data: [],
                                    backgroundColor: getRandomColor(),
                                    borderColor: getRandomColor(),
                                    borderWidth: 1
                                };

                                labels.forEach(function (academicYear) {
                                    if (facultyData.hasOwnProperty(academicYear)) {
                                        facultyDataset.data.push(facultyData[academicYear]);
                                    } else {
                                        facultyDataset.data.push(0);
                                    }
                                });

                                datasets.push(facultyDataset);
                            });

                            var myChart = new Chart(ctx, {
                                type: 'bar',
                                data: {
                                    labels: labels,
                                    datasets: datasets
                                },
                                options: {
                                    scales: {
                                        yAxes: [{
                                            ticks: {
                                                beginAtZero: true,
                                                stepSize: 1
                                            }
                                        }]
                                    }
                                }
                            });

                            function getRandomColor() {
                                var letters = '0123456789ABCDEF';
                                var color = '#';
                                for (var i = 0; i < 6; i++) {
                                    color += letters[Math.floor(Math.random() * 16)];
                                }
                                return color;
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="mb-0 ">Number student submit</h6>
                <p class="text-sm "></p>
                <hr class="dark horizontal">
                <div class="d-flex ">
                </div>
            </div>
        </div>
    </div>
</div>