@model List<Microsoft.AspNetCore.Identity.IdentityUser>
@{
	Layout = "~/Views/Shared/ManagerLO.cshtml";
}

<section class="ftco-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6 text-center mb-5">
				<h2 class="heading-section">Student</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-wrap">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								@* <th>ID no.</th> *@
								<th>Full Name</th>
								<th>Email</th>
								<th>Phone Number</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var user in Model)
							{
								<tr class="alert" role="alert">
									@* <th scope="row">@user.Id</th> *@
									<td>@user.UserName</td>
									<td>@user.Email</td>
									<td>@user.PhoneNumber</td>
									<td>
										<a href="#" class="close" data-dismiss="alert" aria-label="Close">
											<span aria-hidden="true"><i class="fa fa-close"></i></span>
										</a>
									</td>
								</tr>
							}

							<tr class="alert" role="alert">
								@* <th scope="row">002</th> *@
								@* <td>Jacob</td>
								<td>Thornton</td>
								<td>jacobthornton@email.com</td>
								<td> *@
									<a href="#" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</a>
								</td>
							</tr>
							<tr class="alert" role="alert">
								@* <th scope="row">003</th> *@
								@* <td>Larry</td>
								<td>the Bird</td>
								<td>larrybird@email.com</td>
								<td> *@
									<a href="#" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</a>
								</td>
							</tr>
							<tr class="alert" role="alert">
								@* <th scope="row">004</th> *@
								@* <td>John</td>
								<td>Doe</td>
								<td>johndoe@email.com</td>
								<td> *@
									<a href="#" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</a>
								</td>
							</tr>
							<tr class="alert" role="alert">
								@* <th scope="row">005</th> *@
								@* <td>Gary</td>
								<td>Bird</td>
								<td>garybird@email.com</td>
								<td> *@
									<a href="#" class="close" data-dismiss="alert" aria-label="Close">
										<span aria-hidden="true"><i class="fa fa-close"></i></span>
									</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
