@page
@model LoginModel

@{
    Layout = "~/Views/Shared/LoginLO.cshtml";
}

<style>
    #signin {
        width: 300px;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #6dabe4;
        color: #fff;
        border: 2px solid #6dabe4;
        border-radius: 5px;
    }

    #signin:hover {
        background-color: #fff;
        color: #6dabe4;
    }

    #back {
        width: 300px;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: black;
        color: white;
        border: 2px solid black;
        border-radius: 5px;
    }

    #back:hover {
        background-color: white;
        color: black;
    }

    #create {
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #555555;
        border-radius: 5px;
    }

    #create:hover {
        background-color: #555555;
        color: white;
    }
</style>

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <figure><img src="~/css/login/images/signin-image.jpg" alt="sing up image"></figure>
                    <a asp-area="Identity" id="create" asp-page="/Account/Register" class="signup-image-link">Create an
                        account</a>
                </div>

                <div class="signin-form">
                    <h2 class="form-title">Sign in</h2>
                    <form method="POST" class="register-form" id="login-form">
                        <div class="form-group ">
                            @* <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="your_name" id="your_name" placeholder="Your Name" /> *@

                            <label asp-for="Input.Email" class="form-label"> <i
                                    class="zmdi zmdi-account material-icons-name"></i></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                aria-required="true" placeholder="name@example.com" id="your_name" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            @* <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="your_pass" id="your_pass" placeholder="Password" /> *@

                            <label asp-for="Input.Password" class="form-label"> <i class="zmdi zmdi-lock"></i></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                                aria-required="true" placeholder="password" id="your_pass" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        @* <div class="form-group">
                        <input type="checkbox" name="remember-me" id="remember-me" class="agree-term" />
                        <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember
                        me</label>

                        <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" id="remember-me" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                        </div> *@
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"
                                style="margin: 0 auto;" />
                        </div>
                        <div class="form-group col-md-12 form-group">
                            <button asp-controller="Home" asp-action="Index" id="back"
                                style="margin: 0 auto;" type="submit">Back to homepage</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    // Kiểm tra xem có thông báo lỗi từ TempData không
    var errorSwal = '@TempData["ErrorSwal"]';
    if (errorSwal) {
        Swal.fire({
            icon: 'error',
            title: 'Oops...',
            text: "The email or password entered is not valid!"
        });
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
