@page
@model RegisterModel
@{

    Layout = "~/Views/Shared/LoginLO.cshtml";
}

<h1>@ViewData["Title"]</h1>

<style>
    #signup {
        width: 300px;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: #6dabe4;
        color: #fff;
        border: 2px solid #6dabe4;
        border-radius: 5px;
        
    }

    #signup:hover {
        background-color: #fff;
        color: #6dabe4;
    }

    #back {
        width: fit-content;
        border: none;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-color: white;
        color: black;
        border: 2px solid #555555;
        border-radius: 5px;
    }

    #back:hover {
        background-color: #555555;
        color: white;
    }

    
    
</style>

<div class="main">
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h2 class="form-title">Sign up</h2>
                    <form method="post" class="register-form" id="register-form" asp-route-returnUrl="@Model.ReturnUrl">
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-group">
                            <input asp-for="Input.Email" class="form-control" autocomplete="username"
                                aria-required="true" placeholder="name@example.com" />
                            <label asp-for="Input.Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password"
                                aria-required="true" placeholder="Password" id="pass" />
                            <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                                aria-required="true" placeholder="Confirm Password" id="re_pass" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Input.FullName"><i class="zmdi zmdi-lock-outline"></i></label>
                            <input asp-for="Input.FullName" class="form-control" autocomplete="new-password"
                                aria-required="true" placeholder="Full Name" id="re_pass" />
                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select asp-for="Input.FacName" class="form-control" asp-items="@ViewData["FacName"] as SelectList" style="width: 300px; height: 40px;" required>
                                <option disabled selected class="form-control"> -- Select a faculty -- </option>
                            </select>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register" />
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="~/css/login/images/signup-image.jpg" alt="sing up image"></figure>
                    <a asp-area="Identity" asp-page="/Account/Login" class="signup-image-link" id="back">I am already
                        member</a>
                </div>
            </div>
        </div>
    </section>
</div>
@* @section Scripts {
<partial name="_ValidationScriptsPartial" />
} *@
