@page
@model RegisterConfirmationModel
@{
    Layout = "~/Views/Shared/UserLO.cshtml";
}

<div class="card shadow mb-4" style="width: 70%; margin: 0 auto">
    <div class="card-header py-3">
        <h2 class="text-center m-0 font-weight-bold text-primary">We have sent a confirmation to your email</h6>
    </div>
    <h1>@ViewData["Title"]</h1>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <p class="text-center">
                If you have received the email. <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
            </p>
        }
        else
        {
            <p class="text-center">
                Please check your email to confirm your account.
            </p>
        }
    }
</div>
