@model Comp1640.Models.CreateRoleViewModel
@{
    Layout = "~/Views/Shared/AdminLO.cshtml";
}

<h2 style="margin: 2px 0">Create Role</h2>

<form asp-action="Create" style="width: 50%">
    <div class="form-group mb-2">
        <label for="roleName" class="fw-bold">Role Name</label>
        <input asp-for="roleName" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
    <a class="btn btn-dark" asp-action="Index">Back to List</a>
</form>